@media only screen and (max-width: 320px){
	html{font-size: 9px;}
	
	 }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }



body {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	font-family: "Adobe 楷体 Std R";
}

i,em{
	font-style: normal;
}

h1,h2,h3,h4,h5,p,dl,dd{
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;

	color:#5d5f6e;
}

a img {
	border:none;
}

img{
	display: block;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

li{
	margin: 0;
	padding: 0;
	list-style: none;
}



.red {
	color: red!important;
}

.hide {
	display: none;
}

.overflow {
	overflow: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.noborder{
	border: none;
}

.clear:after{
	content: ".";
	visibility: hidden;
	overflow: hidden;
	height: 0;
	clear: both;
	display: block;
}

.mask{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:1000; display: none}

.opacity{ opacity:0.3; filter: alpha(opacity=30); background-color:#000;}
.popup{
    position: absolute;
    width:5.8rem;
    height:3.6rem;
    background: url("../image/popup.png") no-repeat 0 0;
    background-size:100% 100%;
    z-index:1001;
    top:56%;
    left:25%;
    padding:0.2rem;
    margin:-2.9rem 0 -1.8rem 0;
    /*overflow: auto;*/
    display: none;
}
.close{
    position: absolute;
    right:0;
    top:0;
    margin-top:0.4rem;
}
.close img{
    width:0.96rem;
    height:0.98rem;
}
.musicClose{
    background: url("../image/closeVoice.png") no-repeat 0 0;
    background-size:100% 100%;
}
#iframe{
	position: absolute;
	opacity: 0;
}
.yin{
	
}
